@if (cameraAnimations.state() === cameraStates.FOCUSED && zoomable.activeObject()) {
  <div class="zoom-blur-overlay" (pointerdown)="onPointerDown($event)"></div>
}

@if (zoomable.isFullyFocused() && zoomable.activeMetadata()) {
  <div class="speech-bubble-container">
    <div class="speech-bubble">
      <div class="bubble-arrow"></div>
      <div class="bubble-content">
        <h3>{{ zoomable.activeMetadata()?.labelKey | translate }}</h3>
        <p>{{ zoomable.activeMetadata()?.descriptionKey | translate }}</p>
        <button class="close-bubble-btn" (click)="resetFocus()">
          <ng-icon name="heroXMark"></ng-icon>
        </button>
      </div>
    </div>
  </div>
}
