<div class="scene-wrapper">
  <app-helper [isOpen]="isHelperOpen()" (close)="toggleHelper()"></app-helper>
  <div
    class="ui"
    [class.ui-blurred]="
      cameraAnimations.state() === cameraStates.FOCUSED ||
      cameraAnimations.state() === cameraStates.TRANSITIONING
    "
  >
    <div class="top-bar">
      <div class="tooltip-wrapper">
        <button [disabled]="
            !cameraAnimations.state() === cameraStates.FOCUSED
          " (click)="light.toggleLight()" (mouseenter)="audio.playNavHoverTick()">
          <ng-icon
            size="16"
            [name]="light.lightState() === lightStates.light ? 'heroBolt' : 'heroBoltSlash'"
          />
        </button>
        <span class="tooltip">{{
          (light.lightState() === lightStates.light ? 'menu.titles.energy' : 'menu.info.lightsOff')
            | translate
        }}</span>
      </div>
      <div class="tooltip-wrapper">
        <button
          (mouseenter)="audio.playNavHoverTick()"
          (click)="audio.playAudioToggle(); audio.audioEnabled.set(!audio.audioEnabled())"
        >
          <ng-icon
            size="16"
            [name]="audio.audioEnabled() ? 'heroSpeakerWave' : 'heroSpeakerXMark'"
          />
        </button>
        <span class="tooltip">{{ 'menu.titles.sound' | translate }}</span>
      </div>
      <div class="tooltip-wrapper">
        <button
          (mouseenter)="audio.playNavHoverTick()"
          (click)="toggleControls()"
          [disabled]="
            cameraAnimations.state() === cameraStates.FOCUSED ||
            cameraAnimations.state() === cameraStates.TRANSITIONING ||
            light.lightState() === lightStates.dark
          "
        >
          <ng-icon
            size="16"
            [name]="
              cameraAnimations.state() === cameraStates.FREE_ROAM
                ? 'heroVideoCameraSlash'
                : 'heroVideoCamera'
            "
          />
        </button>
        <span class="tooltip">
          {{
            (light.lightState() === lightStates.light ? 'menu.titles.camera' : 'menu.info.camera')
              | translate
          }}
        </span>
      </div>
      <div class="tooltip-wrapper">
        <button (mouseenter)="audio.playNavHoverTick()" (click)="toggleHelper()">
          <ng-icon size="16" name="heroQuestionMarkCircle" />
        </button>
        <span class="tooltip"> {{ 'menu.titles.help' | translate }}</span>
      </div>
    </div>
  </div>

  <app-loading />
  <div #webglContainer class="webgl-container"></div>
  <div #cssContainer class="css-container"></div>

  <app-zoomable-overlay />
  <app-violin-ui></app-violin-ui>
</div>
