.scene-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #15151e;
}

.css-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.webgl-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
  flex: 1;
  position: fixed;
  z-index: 2;
}

.top-bar {
  padding: 5px;
  background-color: #7272728b;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}

.top-bar button {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: #f3f3f3;
  border: 1.5px solid #15151e;
}

.top-bar button:not(:disabled):hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.top-bar button:disabled {
  cursor: not-allowed;
  border: 1.5px solid #15151e80; 
  opacity: 0.9;
}
.top-bar button ng-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}